body{
  background: rgb(108, 188, 209);
  color:rgb(19, 16, 15);
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;


}
img{
  margin-top: 20px;
  width: 200px;
}
.App-title{
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;

}

.input{
  height: 30px;
  width:400px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;


}
.button{
  height:36px;
  background: #d9dd24;
  border-radius: 5px;
  outline: none;
  color: #121010;

}
